{% extends "basic.html" %}
{% block content %}

<header class="page-header">
<h2>About</h2>
</header>

<h3>MonteBoo <small>Virtual Observatory</small></h3>
<p class="lead">MonteBooVO is not only a web application for easy creation of artificial astronomy FITS images. It use mainly but not only the newly created module <code>artificial</code> from the famous piece of also free and open source astronomy software named <strong>Munipack</strong>. You can use it for simulation of precise astrometry and photometry observation. For more detailed information please read the <em>Help</em> section. Now let's have a fun!</p>
<p><a href="http://www.github.com/astrograzl/monteboovo/" class="btn btn-info">
http://www.github.com/AstroGrazl/MonteBooVO
</a></p>

<h3>Astropy <small>A Community Python Library for Astronomy.</small></h3>
<p class="lead">The Astropy Project is a community effort to develop a single core package for Astronomy in Python and foster interoperability between Python astronomy packages.</p>
<pre>>>> import astropy</pre>
<p><a href="http://www.astropy.org/" class="btn btn-info">
http://www.astropy.org
</a></p>

<h3>Munipack <small>A general astronomical image processing software.</small></h3>
<p class="lead">Munipack's goal is to develop easy-to-use tools for both astronomical astrometry and photometry along with additional utilities like to access of Virtual observatory or to provide various FITS files operations.</p>
<pre>{{ content.muni }}</pre>
<p><a href="http://munipack.physics.muni.cz/" class="btn btn-info">
http://munipack.physics.muni.cz
</a></p>

<h3>Fitspng <small>Fitspng is an utility intended to convert of images in astronomical FITS to PNG format.</small></h3>
<p class="lead">FITS format is a general purpose astronomical format offering images in high dynamical range (naturally including HDR). The primary goal of fitspng is to transform of the high dynamic range images to a limited numerical range of PNG format. The transformation uses global tone mapping by a set of tone functions with machine estimated or user provided scaling parameters.</p>
<pre>{{ content.fits }}</pre>
<p><a href="http://integral.physics.muni.cz/fitspng/" class="btn btn-info">
http://integral.physics.muni.cz/fitspng
</a></p>

{% endblock %}
