<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MonteBoo Virtual Observatory">
  <meta name="author" content="Zdeněk Janák <janak@astronomie.cz>">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/static/art.png">
  <title>MonteBooVO&trade;</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <img src="/static/art.png" class="navbar-brand">
      <a href="/" class="navbar-brand">MonteBooVO&trade;</a>
    </div>
    <ul class="navbar-nav nav">
      <li><a href="about">About</a></li>
      {% if session.get('data', False) != False %}
      <li>{# visible only when data in session #}
        <form action="result" method="POST" class="navbar-form">
          <input name="type" type="hidden" value="button">
          <button type="submit" class="btn btn-success">
            Result {% if session.get('reset', False) %}
                   <span class="badge glyphicon glyphicon-refresh">
                   </span>
                   {% endif %}
          </button>
        </form>
      </li>
      {% endif %}
      <li><a href="config">{# symbol visibly onle when changes are made #}
        Config {% if session.get('setin', 0) > 0 %}
               <span class="badge glyphicon glyphicon-cog">
               </span>
               {% endif %}
      </a></li>
      <li><a href="debug">Debug</a></li>
      <li><a href="http://munipack.physics.muni.cz/artific.html" target="_blank">
        Help <span class="glyphicon glyphicon-share"> </span></a></li>
    </ul>
    <form action="result" method="POST" class="navbar-form navbar-right">
      <input name="name" type="search" placeholder="Simbad search..." class="form-control">
      <input name="type" type="hidden" value="search">
    </form>
  </div>
</nav>

<header class="container page-header">
  {% block head %}{% endblock head %}
</header>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
<aside class="container">
  <p class="alert alert-danger text-center">{{ message }}</p>
</aside>
    {% endfor %}
  {% endif %}
{% endwith %}

<article class="container">
  {% block content %}
  {% endblock content %}
</article>

<footer class="container"><hr>
  <p>"THE BEER-WARE LICENSE" (Revision 42):
    <a href="mailto:janak@astronomie.cz">&lt;janak@astronomie.cz&gt;</a> wrote this file.
    As long as you retain this notice you can do whatever you want with this stuff.
    If we meet some day, and you think this stuff is worth it, you can buy me a beer in return
    <a href="http://janak.astronomie.cz"><em>Zdeněk Janák</em></a>
  </p>
</footer>

{% block back %}
<div style="background: url('/static/back.jpg')
            no-repeat fixed center bottom; height: 300px;">
</div>
{% endblock back %}

<a href="https://github.com/AstroGrazl/MonteBooVO">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="/static/forkme.png" alt="Fork me on GitHub">
</a>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
