{% from 'macro.j2' import input, radio, check %}
{% extends 'basic.html' %}

{% block head %}
<h2>Configuration</h2>
{% endblock head %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <label for="file">Load configuration from file</label>
      </span>
      <input type="file" name="file" id="file"
             accept="application/json" class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Apply</button>
        <a href="/config/export" class="btn btn-info">Export</a>
      </span>
    </div>
  </div>
</div>
</form>

<form method="POST">

<div class="row">
  {{ radio('psf', 'Point spread function', form.get('psf', ''), ['SEEING', 'MOFFAT', 'GAUSS'], 'seeing') }}
  {{ radio('spread', 'Seeing spread method', form.get('spread', ''), ['FFT', 'RANDOM', 'AUTO'], 'fft') }}
</div>
<div class="row">
  {{ input('hwhm', 'Half width at half of maximum', form.get('hwhm', ''), '1.00', 'pix', 4) }}
  {{ input('airy', 'Radius of Airy spot', form.get('airy', ''), '0.10', 'pix', 4) }}
  {{ input('beta', 'Moffat exponent', form.get('beta', ''), '2.00', '', 4) }}
</div>
<div class="row">
  {{ input('maglim', 'Magnitude limit', form.get('maglim', ''), '13', '') }}
  {{ input('sky-mag', 'Sky brightness', form.get('sky-mag', ''), '21', 'mag/arcsec<sup>2</sup>') }}
</div>
<div class="row">
  {{ input('sky-grad-x', 'Sky change in x direction', form.get('sky-grad-x', ''), '0.0', 'mag/arcsec<sup>2</sup>/pix') }}
  {{ input('sky-grad-y', 'Sky change in y direction', form.get('sky-grad-y', ''), '0.0', 'mag/arcsec<sup>2</sup>/pix') }}
</div>
<div class="row">
  {{ input('area', 'Area of input aperture', form.get('area', ''), '1.00', 'm<sup>2</sup>') }}
  {{ input('diameter', 'Diameter of input aperture', form.get('diameter', ''), '', 'm') }}
</div>
<div class="row">
  {{ input('exptime', 'Exposure time', form.get('exptime', ''), '1.0', 's') }}
  {{ input('qeff', 'Quantum efficiency', form.get('qeff', ''), '1.00', '') }}
</div>
<div class="row">
  {{ check('atmosphere', 'Apply atmosphere modelling', form.get('atmosphere', ''), 'extinction+seeing') }}
  {{ input('extk', 'Extinction coefficient', form.get('extk', ''), '0.00', '') }}
</div>
<div class="row">
  {{ input('long', 'Geographic longitude of station (-east)', form.get('long', ''), '0.00', 'deg') }}
  {{ input('lat', 'Geographic latitude of station (+north)', form.get('lat', ''), '0.00', 'deg') }}
</div>
<div class="row">
  {{ input('date', 'Initial date', form.get('date', ''), '2000-01-01', 'YYYY-MM-DD') }}
  {{ input('time', 'Initial time', form.get('time', ''), '00:00:00.000', 'HH:MM:SS') }}
</div>
<div class="row">
  {{ input('fov', 'Field of view', form.get('fov', ''), '0.185', 'deg', 4) }}
  {{ input('scale', 'Scale', form.get('scale', ''), '1/3600', 'deg/pix', 4) }}
  {{ input('angle', 'Angle', form.get('angle', ''), '0.0', 'deg, clockwise positive', 4) }}
</div>
<div class="row">
  {{ input('width', 'Width of output', form.get('width', ''), '666', 'pix') }}
  {{ input('height', 'Height of output', form.get('height', ''), '666', 'pix') }}
</div>

<div class="row form-group">
  <div class="col-sm-6 text-right">
    <a href="/config/reset" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Reset
    </a>
  </div>
  <div class="col-sm-6 text-left">
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span>&nbsp;Save
    </button>
  </div>
</div>

</form>

{% endblock content %}
