{% extends 'basic.html' %}

{% block head %}
<h2>Error: Do not panic!</h2>
{% endblock head %}

{% block content %}
<div class="text-center">
  <p class="lead">
    Did you find a bug?! That is unpleasantly :-/
    So let me please know and I try to repair it as soon as possible.
    I promise ;-)
  </p>
  <p>
    <a href="https://github.com/astrograzl/MonteBooVO/issues"
       class="btn btn-info btn-lg" target="_blank">
      Report the bug
    </a>
  </p>
  <figure class="center-block">
    <img src="/static/images/neo.jpg"
         alt="Neo is watching you"
         class="img-responsive">
  </figure>
</div>
{% endblock content %}

{% block back %}
<div style="background: url('/static/images/matrix.jpg')
            no-repeat fixed center bottom; height: 200px;">
</div>
{% endblock back %}
