{% macro field(name, label, value='', place='', text='', cols=6) %}
<div class="col-sm-{{ cols }} form-group">
  <div class="input-group">
    <span class="input-group-addon"><label for="{{ name }}">{{ label }}</label></span>

    {% if name == 'psf' %}

      <span class="form-control">
      {% for radio in ['SEEING', 'MOFFAT', 'GAUSS'] %}
        <label for="{{ radio }}" style="padding-left: 2em;">{{ radio | lower }}</label>
        <input name="{{ name }}" id="{{ radio }}" type="radio" value="{{ radio }}"
               {% if value == radio %}checked{% endif %}>
      {% endfor %}
      </span>

    {% elif name == 'spread' %}

      <span class="form-control">
      {% for radio in ['FFT', 'RANDOM', 'AUTO'] %}
        <label for="{{ radio }}" style="padding-left: 3em;">{{ radio | lower }}</label>
        <input name="{{ name }}" id="{{ radio }}" type="radio" value="{{ radio }}"
               {% if value == radio %}checked{% endif %}>
      {% endfor %}
      </span>

    {% elif name == 'atmosphere' %}

      <span class="form-control text-center">
        <input name="{{ name }}" id="{{ name }}" type="checkbox"
               {% if value %}checked{% endif %}>
      </span>

    {% else %}

      <input name="{{ name }}" id="{{ name }}" type="{{ text }}"
             value="{{ value }}" placeholder="{{ place }}" class="form-control">

    {% endif %}

    {% if text %}<span class="input-group-addon"><i>{{ text }}</i></span>{% endif %}
  </div>
</div>
{% endmacro %}
