{% extends 'basic.html' %}

{% block head %}
<h2>Error 404: Page Not Found</h2>
{% endblock head %}

{% block content %}
<div class="text-center">
  <p class="lead">
    I see some pixels.
    But they are void of colors.
    Sad monochrome world ;-(
  </p>
  <figure class="text-center">
    <img src="/static/images/moffat.png"
         alt="All universe in one pixel">
  </figure>
</div>
{% endblock content %}

{% block back %}
<div style="background: url('/static/images/matrix.jpg')
            no-repeat fixed center bottom; height: 300px;">
</div>
{% endblock back %}
