{% extends "basic.html" %}
{% block content %}

<header class="page-header">
<h2>Setup</h2>
</header>

<form method="POST">
<div class="row"><!-- 1 -->
<div class="col-sm-6"><!-- 1.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Point spread function</b></span>
    <select name="psf" class="form-control">
    {% for psf in "SEEING", "MOFFAT", "GAUSS" %}
      {% if form.psf == psf %}
        <option value="{{ form.psf }}" selected>{{ form.psf|lower }}</option>
      {% else %}
        <option value="{{ psf }}">{{ psf|lower }}</option>
      {% endif %}
    {% endfor %}
    </select>
    <span class="input-group-addon"><i>seeing</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 1.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Seeing spread method</b></span>
    <select name="spread" class="form-control">
    {% for spread in "FFT", "RANDOM", "AUTO" %}
      {% if form.spread == spread %}
        <option value="{{ form.spread }}" selected>{{ form.spread|lower }}</option>
      {% else %}
        <option value="{{ spread }}">{{ spread|lower }}</option>
      {% endif %}
    {% endfor %}
    </select>
    <span class="input-group-addon"><i>fft</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 2 -->
<div class="col-sm-6"><!-- 2.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Half width at half of maximum</b></span>
    <input name="hwhm" value="{{ form.hwhm }}" placeholder="1.00" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>pix</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 2.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Radius of Airy spot</b></span>
    <input name="airy" value="{{ form.airy }}" placeholder="0.10" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>pix</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 3 -->
<div class="col-sm-6"><!-- 3.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Moffat exponent</b></span>
    <input name="beta" value="{{ form.beta }}" placeholder="2.00" type="number" step="0.01" class="form-control">
</div>
</div>
<div class="col-sm-6"><!-- 3.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Magnitude limit</b></span>
    <input name="maglim" value="{{ form.maglim }}" placeholder="13" type="number" step="0.01" class="form-control">
</div>
</div>
</div>
<br><div class="row"><!-- 4 -->
<div class="col-sm-6"><!-- 4.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Background level</b></span>
    <input name="back-level" value="{{ form['back-level'] }}" placeholder="1000.0" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>cts</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 4.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Background noise</b></span>
    <input name="back-noise" value="{{ form['back-noise'] }}" placeholder="31.6" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>cts</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 5 -->
<div class="col-sm-6"><!-- 5.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Background gradient in x</b></span>
    <input name="back-grad-x" value="{{ form['back-grad-x'] }}" placeholder="0.0" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>cts/pix</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 5.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Background gradient in y</b></span>
    <input name="back-grad-y" value="{{ form['back-grad-y'] }}" placeholder="0.0" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>cts/pix</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 6 -->
<div class="col-sm-6"><!-- 6.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Area of input aperture</b></span>
    <input name="area" value="{{ form.area }}" placeholder="1.00" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>m<sup>2</sup></i></span>
</div>
</div>
<div class="col-sm-6"><!-- 6.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Diameter of input aperture</b></span>
    <input name="diameter" value="{{ form.diameter }}" placeholder="1.1" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>m</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 7 -->
<div class="col-sm-6"><!-- 7.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Exposure time</b></span>
    <input name="exptime" value="{{ form.exptime }}" placeholder="1.0" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>s</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 7.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Quantum efficiency</b></span>
    <input name="qeff" value="{{ form.qeff }}" placeholder="1.00" type="number" step="0.01" class="form-control">
</div>
</div>
</div>
<br><div class="row"><!-- 8 -->
<div class="col-sm-6"><!-- 8.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Apply atmosphere modelling</b></span>
    <span class="input-group-addon form-control"><input name="atmosphere" type="checkbox" {% if form.get('atmosphere') == 'on' %}checked{% endif %}></span>
    <span class="input-group-addon"><i>extinction, seeing</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 8.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Extinction coefficient</b></span>
    <input name="extk" value="{{ form.extk }}" placeholder="0.00" type="number" step="0.01" class="form-control">
</div>
</div>
</div>
<br><div class="row"><!-- 9 -->
<div class="col-sm-6"><!-- 9.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Geographic longitude of station (-east)</b></span>
    <input name="long" value="{{ form.long }}" placeholder="0.00" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>deg</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 9.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Geographic latitude of station (+north)</b></span>
    <input name="lat" value="{{ form.lat }}" placeholder="0.00" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>deg</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 10 -->
<div class="col-sm-6"><!-- 10.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Initial date</b></span>
    <input name="date" value="{{ form.date }}" placeholder="2000-01-01" type="date" class="form-control">
    <span class="input-group-addon"><i>YYYY-MM-DD</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 10.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Initial time</b></span>
    <input name="time" value="{{ form.time }}" placeholder="00:00:00.000" type="text" class="form-control">
    <span class="input-group-addon"><i>HH:MM:SS</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 11 -->
<div class="col-sm-4"><!-- 11.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Field of view</b></span>
    <input name="fov" value="{{ form.fov }}" placeholder="0.2" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>deg</i></span>
</div>
</div>
<div class="col-sm-4"><!-- 11.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Scale</b></span>
    <input name="scale" value="{{ form.scale }}" placeholder="1/3600" type="number" step="0.00001" class="form-control">
    <span class="input-group-addon"><i>deg/pix</i></span>
</div>
</div>
<div class="col-sm-4"><!-- 11.C -->
<div class="input-group">
    <span class="input-group-addon"><b>Angle</b></span>
    <input name="angle" value="{{ form.angle }}" placeholder="0.0" type="number" step="0.01" class="form-control">
    <span class="input-group-addon"><i>deg</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 12 -->
<div class="col-sm-6"><!-- 12.A -->
<div class="input-group">
    <span class="input-group-addon"><b>Width of output</b></span>
    <input name="width" value="{{ form.width }}" placeholder="666" type="number" class="form-control">
    <span class="input-group-addon"><i>pix</i></span>
</div>
</div>
<div class="col-sm-6"><!-- 12.B -->
<div class="input-group">
    <span class="input-group-addon"><b>Height of output</b></span>
    <input name="height" value="{{ form.height }}" placeholder="666" type="number" class="form-control">
    <span class="input-group-addon"><i>pix</i></span>
</div>
</div>
</div>
<br><div class="row"><!-- 13 -->
<div class="col-sm-6 text-right"><!-- 13.A -->
<a href="/setup/reset" class="btn btn-danger">
<span class="glyphicon glyphicon-remove"> Reset</span>
</a>
</div>
<div class="col-sm-6 text-left"><!-- 13.B -->
<button type="submit" class="btn btn-success">
<span class="glyphicon glyphicon-ok"> Save</span>
</button>
</div>
</div>
</form>

<!-- <pre>{{ form }}</pre> -->

{% endblock %}
